<%= form_for @photo, :url => (@photo.new_record? ? admin_photos_path : admin_photo_path(@photo)), :builder => TbCore::FormBuilder, :html => {:id => 'spud_admin_photo_form', :target => 'spud_admin_photo_form_target', :class => 'form-horizontal'} do |f| %> 
  
  <%= tb_form_errors(f.object) %>
  
  <fieldset>
    <legend>Photo Info</legend>  
      <%= f.tb_text_field :title %>
      <%= f.tb_text_field :caption %>
  </fieldset>

  <fieldset>
    <legend id="fileUploadSizeLegend">File Upload</span></legend>
      <span class="help-block admin-photo-form-max-size"></span>
      <%= f.tb_file_field :photo %>
      <% unless @photo.new_record? %>
        <%= f.tb_input_field 'Current Photo' do %>
          <%= image_tag @photo.photo.url(:spud_admin_medium), :class => 'admin-photo-form-current-photo' %>
        <% end %>
      <% end %>
  </fieldset>

  <iframe id="spud_admin_photo_form_target" name="spud_admin_photo_form_target" style="display:none;"></iframe>

<% end %>
