<%= form_for @photo_gallery, :url => path, :builder => TbCore::FormBuilder, :html => {:class => 'form-horizontal', :id => 'admin-photo-gallery-form'} do |f| %> 
  
  <%= tb_form_errors(f.object) %>
  
  <fieldset>
    <legend>Gallery Info</legend>  
      <%= f.tb_text_field :title %>
  </fieldset>
  
  <!-- if no albums are selected below, this ensures we send an empty album_ids array -->
  <%= hidden_field_tag 'spud_photo_gallery[album_ids][]' %>

  <fieldset>
    <legend>Select Albums</legend>

    <div class="row">
      <div class="col-md-8 admin-photo-album-column">
        <h4>Selected:</h4>
        <div class="admin-photo-ui-thumbs admin-photo-ui-thumbs-sortable">
          <%= render :partial => 'album', :collection => @photo_gallery.albums %>
        </div>
      </div>
      <div class="col-md-4 admin-photo-album-column">
        <h4>Available:</h4>
        <div class="admin-photo-ui-thumbs admin-photo-ui-thumbs-sortable admin-photo-albums-available">
          <%= render :partial => 'album', :collection => @photo_gallery.albums_available %>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="col-md-12 admin-photo-album-column">
      <%= f.submit "Save Photo Gallery", :class => "btn btn-primary" %> 
      <%= link_to "Cancel", request.referer, :class => "btn btn-default" %>
    </div>
  </div>

<% end %>
