<%= form_for @photo_album, :url => path, :builder => TbCore::FormBuilder, :html => {:class => 'form-horizontal', :id => 'admin-photo-album-form'} do |f| %> 
  
  <%= tb_form_errors(f.object) %>

  <fieldset>
    <legend>Photo Album Info</legend>  
    <%= f.tb_text_field :title %>  
  </fieldset>

  <fieldset>
    <legend>Selected Photos</legend>

    <div class="row">
      <div class="col-md-12 admin-photo-album-column">
        <%= link_to "Photo Library", admin_photos_path, :class => "btn btn-sm btn-primary", :id => 'admin-photo-album-action-library' %>
        <%= link_to "Upload Photo", new_admin_photo_path, :class => "btn btn-sm btn-success", :id => 'admin-photo-album-action-upload' %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 admin-photo-album-column">
        <div id="admin-photos-selected" class="control-group admin-photo-ui-thumbs admin-photo-ui-thumbs-sortable">
          <%= render :partial => '/admin/photos/photo', :collection => @photo_album.photos %>
        </div>
      </div>

      <div class="col-md-4 admin-photo-album-column">
        <div id="admin-photo-upload-queue">
          <p>Drag and drop photos here to upload</p>
          <h5 id="admin-photo-upload-queue_label">Queued Uploads: <span>0</span></h5>
          <div id="admin-photo-upload-queue_bars"></div>
        </div>
      </div>

    </div>
  </fieldset>

  <div class="row">
    <div class="col-md-12 admin-photo-album-column">
      <%= f.submit "Save Photo Album", :class=>"btn btn-primary" %> 
      <%= link_to "Cancel", request.referer, :class => "btn btn-default" %>
    </div>
  </div>

<% end %>